-var n = 7;

.container
	.text-container
		-for(let i = 0; i < n; i++)
			-if(i == 0)
				span.text Branded Quarto
					.icon--container
						-for(let i = 0; i < 4; i++)
							svg.icon.star
								use(xlink:href='#star')
			-else
				span.text Branded Quarto

	.shadow-container
		-for(let i = 0; i < n; i++)
			-if(i == 0)
				span.text.shadow Branded Quarto
					.icon--container
						-for(let i = 0; i < 4; i++)
							svg.icon.star
								use(xlink:href='#star')
			-else
				span.text.shadow Branded Quarto
		
		
svg.icons
	symbol#star(viewbox='0 0 296.789 296.789')
		path(
			d = 'm 128.07699,246.6702 16.62278,44.87778 c 0.62488,1.68958 2.24042,2.81007 4.04647,2.81007 1.80605,0 3.42159,-1.12049 4.04646,-2.81007 l 16.62278,-44.87778 c 13.45522,-36.3312 42.2174,-64.97071 78.70166,-78.36601 l 45.06998,-16.55188 c 1.69428,-0.62221 2.81958,-2.23087 2.81958,-4.02922 0,-1.79835 -1.1253,-3.40699 -2.81958,-4.0292 l -45.07253,-16.5519 C 211.63034,113.74417 182.86815,85.107178 169.41548,48.778514 L 152.7927,3.900743 c -0.62487,-1.6870583 -2.24041,-2.8075483 -4.04646,-2.8075483 -1.80605,0 -3.42159,1.12049 -4.04647,2.8075483 L 128.07699,48.778514 C 114.62179,85.107178 85.862143,113.74417 49.375346,127.14199 l -45.0725171,16.5519 c -1.694284,0.62221 -2.819573,2.23085 -2.819573,4.0292 0,1.79835 1.125289,3.40701 2.819573,4.02922 l 45.0699771,16.55188 c 36.486798,13.3953 65.248984,42.03228 78.704184,78.36601 z'
		)

.support
	a(href = 'https://twitter.com/DevLoop01' target='_blank')
		i(class = 'fab fa-twitter-square')    
	a(href = 'https://codepen.io/dev_loop/' target='_blank')
		i(class = 'fab fa-codepen')